.navbar {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-links li {
  display: block;
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
}

.nav-links li:hover {
  background-color: #535353;
}

.nav-links a {
  color: #c0c0c0;
}

