.navbar {
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-links {
  margin: 0;
}

.nav-links li {
  display: inline-block;
  vertical-align: center;
  padding: 10px 12px;
  font-size: 18px;
}

.nav-links li:hover {
  background-color: #535353;
}

.nav-links a {
  color: #c0c0c0;
}

