.hero-image {
  background-image: url("assets/desert.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero-text h1 {
  font-size: 75px;
  color: #FFFFFF;
}

.hero-text h2 {
  font-size: 50px;
  color: #CCCCCC;
}

